
/* =========SERVICE COUNTER========= */
.service__counters {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    gap: 2rem;
    padding: 3rem 1rem;
    border-radius: 1rem;
    text-align: center;
  }
  
  .counter__item {
    padding: 2rem 1rem;
    border-radius: 1rem;
    background: var(--color-bg-variant);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .counter__item:hover {
    background: transparent;
  }
  
  .counter {
    font-size: 4.5rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;
  }
  
  .counter-icon {
    color: var(--color-white);
    font-size: 1.8rem;
  }
  
  .counter__text {
    font-size: 1rem;
    color: var(--color-light);
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
  }
  
  .counter__emoji {
    font-size: 1.5rem;
    color: var(--color-primary);
  }

  
