.counter-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 60px;
  align-items: stretch;
}

/* LEFT TEXT SECTION */
.counter-left {
  flex: 1 1 40%;
}

.counter-title {
  margin-bottom: 25px;
  text-align: center;
}

.counter-description {
  margin-bottom: 18px;
  color: var(--color-light);
  text-align: justify;
}

.counter-section .btn {
  display: block;
  margin: 0 auto;
}

/* RIGHT COUNTERS SECTION */
.counter-right {
  display: flex;
  align-items: flex-start;
  height: 100%;
}

.counter-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: flex-start;
}

.counter-item {
  width: 45%;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.counter-number {
  font-size: 2.5rem;
  color: var(--color-light);
  margin-bottom: 10px;

}

.counter-label {
  font-size: 1rem;
  font-weight: 600;
  color: var(--color-primary);
}

/* RESPONSIVE */
@media only screen and (max-width: 1024px) {
  .counter-wrapper {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .counter-left,
  .counter-right {
    width: 100%;
  }

  .counter-list {
    justify-content: center;
  }

  .counter-item {
    width: 45%;
  }
}

@media only screen and (max-width: 768px) {
  .counter-wrapper {
    grid-template-columns: 1fr;
    gap: 40px;
    text-align: center;
  }

  .counter-description {
    text-align: center;
  }

  .counter-item {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
  }

  .counter-number {
    font-size: 2rem;
  }
}


@media only screen and (max-width: 600px) {
  .counter-wrapper {
    padding: 0 20px;
  }

  .counter-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    gap: 20px;
  }

  .counter-item {
    width: 100%;
    padding: 15px;
  }

  .counter-number {
    font-size: 1.8rem;
  }

  .counter-label {
    font-size: 0.95rem;
  }

  .counter-section .btn {
    margin-top: 20px;
  }
}
