.counter-section {
  position: relative;
  padding: 80px 40px;
  color: #fff;
  overflow: hidden;
  z-index: 0;
}

.counter-wrapper {
  position: relative;
  z-index: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 60px;
  align-items: stretch;
}

.counter-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: url("../../assets/bg-logo-01-free-img.png") center center / contain no-repeat fixed;
  background-color: rgba(0, 0, 0, 0.9);
  opacity: 0.07;
  z-index: 0;
}

/* LEFT TEXT SECTION */
.counter-left {
  flex: 1 1 40%;
  text-align: justify;
}

.counter-title {
  margin-bottom: 25px;
  text-align: center;
}

.counter-description {
  margin-bottom: 18px;
  color: var(--color-light);
  text-align: justify;
}

.counter-section .btn {
  display: block;
  margin: 0 auto;
}

/* RIGHT COUNTERS SECTION */
.counter-right {
  display: flex;
  align-items: flex-start;
  height: 100%;
}

.counter-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: flex-start;
}

.counter-item {
  width: 45%;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.counter-number {
  font-size: 2.5rem;
  color: var(--color-light);
  margin-bottom: 10px;

}

.counter-label {
  font-size: 1rem;
  font-weight: 600;
  color: var(--color-primary);
}

/* RESPONSIVE */
@media only screen and (max-width: 1024px) {
  .counter-wrapper {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .counter-left,
  .counter-right {
    width: 100%;
  }

  .counter-list {
    justify-content: center;
  }

  .counter-item {
    width: 45%;
  }
}

@media only screen and (max-width: 768px) {
  .counter-wrapper {
    grid-template-columns: 1fr;
    gap: 40px;
    text-align: center;
  }

  .counter-description {
    text-align: justify;
  }

  .counter-item {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
  }

  .counter-number {
    font-size: 2rem;
  }
}


@media only screen and (max-width: 600px) {
  .counter-wrapper {
    padding: 0 20px;
  }

  .counter-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    gap: 20px;
  }

  .counter-item {
    width: 100%;
    padding: 15px;
  }

  .counter-number {
    font-size: 1.8rem;
  }

  .counter-label {
    font-size: 0.95rem;
  }

  .counter-section .btn {
    margin-top: 20px;
  }
}
