#about {
  position: relative;
  overflow: hidden;
  padding: 80px 40px;
  color: #fff;
  overflow: hidden;
}

.about__bckg__overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: url("../../assets/bg-logo-01-free-img.png") center/contain no-repeat fixed;
  opacity: 0.1;
  background-color: rgba(0, 0, 0, 0.9);
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
  z-index: 0;
}

.about__bckg__overlay {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
}

.about__bckg__overlay {
  z-index: 0;
}

.about__container,
h5,
h2 {
  position: relative;
  z-index: 1;
}

.about__container {
  display: grid;
  grid-template-columns: 30% 55%;
  gap: 15%;
}

.about__me {
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 2rem;
  background: linear-gradient(45deg, transparent, var(--color-primary));
}

.about__me-image {
  border-radius: 2rem;
  border: 3px solid var(--color-primary);
  overflow: hidden;
  transform: rotate(10deg);
  transition: var(--transition);
}

.about__me-image:hover {
  transform: rotate(0);
}

.about__wrapper h4 {
  text-align: center;
}

.about__wrapper p {
  text-align: left;
}



.about__cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}

.about__card {
  background: var(--color-bg-variant);
  border: 1px solid transparent;
  border-radius: 1rem;
  padding: 2rem;
  text-align: center;
  transition: var(--transition);
}

.about__card:hover {
  background: transparent;
  border-color: var(--secondary-color);
  cursor: default;
}

.about__icon {
  color: var(--color-primary);
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.about__card h5 {
  font-size: 0.95rem;
}

.about__card small {
  font-size: 0.7rem;
  color: var(--color-light);
}

.about__content h4 {
  margin: 1rem 0 0.5rem;
  color: var(--color-white);
  font-size: 1.2rem;
}

.about__content p {
  margin: 0.6rem 0 0.7rem;
  color: var(--color-light);
}

.about__content a {
  margin: 1rem;
}


/* ------------MEDIA QUERIES (MEDIUM DEVICES)-------------------- */
@media screen and (max-width: 1024px) {
  .about__container {
    grid-template-columns: 1fr;
    gap: 0;
  }

  .about__me {
    width: 46%;
    margin: 2rem auto 4rem;
  }


  .about__content h4 {
    margin: 2rem 0 1.5rem;
  }

  .about__content a {
    display: block;
    margin: 0 auto;
    text-align: center;
  }

  .about__content p {
    margin-bottom: 1rem;
  }

  .about__wrapper p {
    text-align: justify !important;
  }
}


/* ------------MEDIA QUERIES (SMALL DEVICES)-------------------- */
@media screen and (max-width: 600px) {
  .about__me {
    width: 70%;
    margin: 0 auto 3rem;
  }

  .about__cards {
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  .about__content {
    text-align: center;
  }

  .about__content p {
    margin: 1.5rem 0;
    text-align: left;
  }

  .about__content a {
    display: block;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 1rem;
  }

  .about__me-image {
    max-width: 100%;
    max-height: 100%;
  }
}

@media only screen and (width: 768px) {
  .about__me {
    width: 55%;
    margin: 0 auto 3rem;
  }

  .about__me-image {
    width: 100%;
  }

  .about__content a {
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 600px) {
  .about__bckg__overlay {
    background-attachment: none;
    background-size: cover; /* Optional: looks better for mobile */
  }
}
