.blog__container {
    position: relative;
}

.blog__container .box {
    border-radius: 10px;
    position: relative;
}

.blog__container .box:hover {
    background: none;
    transform: translateY(-0);
}

.blog__container .img {
    overflow: hidden;
    transition: 0.5s;
    cursor: pointer;
}

.blog__container img {
    width: 70%;
    border-radius: 10px;
    transition: 0.5s;
}

.blog__container .box .img:hover img {
    transform: scale(1.2);
}

.blog__container .category {
    margin: 20px 0 30px 0;
    text-transform: uppercase;
}

.blog__container .category span {
    color: var(--color-white);
    font-size: 13px;
    letter-spacing: 2px;
    font-weight: 500;
}

.blog__container .arrow {
    position: absolute;
    right: 10px;
    bottom: 7%;
    opacity: 1;
    transition: 0.5s;
}

.blog__container .title:hover .arrow {
    opacity: 1;
}

.blog__container h2 {
    font-size: 18px;
    transition: 0.5s;
    padding-bottom: 30px;
    margin: 0 2rem 0 0;
}


.blog__container .box:hover {
    color: var(--color-primary);
}

.blog__container label i {
    margin-right: 10px;
}

/*------------popup--------*/
body.active-modal {
    overflow-y: hidden;
}

.btn-modal {
    padding: 10px 20px;
    display: block;
    margin: 100px auto 0;
    font-size: 18px;
}

.modal,
.overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    z-index: 9999;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    position: absolute;
    top: 12%;
    left: 8%;
    line-height: 1.4;
    padding: 14px 28px;
    border-radius: 3px;
    max-width: 85%;
    min-width: 60%;
    z-index: 9999;
    box-shadow: 0 2px 8px var(--color-primary);
    padding: 50px;
    border-radius: 10px;
}

.modal-text {
    padding: 0 100px 0 50px;
    text-align: justify;
}

.modal-text h1 {
    margin: 20px 0;
    font-size: 30px;
    color: var(--color-primary);
}

.modal-text p {
    font-size: 17px;
    margin-bottom: 20px;
    line-height: 25px;
}

.modal-text button {
    margin-top: 1rem;
    margin-right: 20px;
}

.modal-text button i {
    margin-left: 10px;
}

.modal-text button.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 50%;
    padding: 0 0;
    font-size: 20px;
    cursor: pointer;
}



/*------------popup--------*/
@media (max-width: 768px) {

    .modal,
    .overlay {
        overflow: scroll;
    }

    .modal .modal-img {
        margin: 50px 0 50px 0;
    }

    .modal-text h1 {
        font-size: 1.5rem;
    }

    .modal-content {
        flex-direction: column;
    }

    .modal .right,
    .modal .left {
        padding: 0;
    }

    .modal-text button {
        display: flex;
        white-space: nowrap;
        padding: 20px 10px;
        margin-right: 10px;
    }
    .modal__icon {
        margin: 1rem;
    }

    .blog__container img {
        width: 100%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .grid {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 20px;
    }

    .left,
    .right {
        width: 100%;
    }
}