nav {
    background-color: #33333376;
    padding: 10px;
    position: fixed;
    left: 50%;
    bottom: -2rem;
    transform: translate(-50%, -50%);
    width: max-content;
    z-index: 1000;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 0.8rem;
    border-radius: 3rem;
    backdrop-filter: blur(15px);
}

nav a {
    background: transparent;
    padding: 0.9rem;
    display: flex;
    color: var(--color-light);
    font-size: 1.1rem;
    border-radius: 50%;
}

nav a:hover {
    background: rgba(0, 0, 0, 0.3);
}

nav a.active {
    background: var(--color-primary);
    color: var(--color-bg);
}